{% extends "layout.html" %}
{% block body %}

    <form action="{{ url_for('predict_hate') }}" method="post" class="add-prediction">
      <div class="network-choice">
      Choose Your Network:<br><br>
        <label style="color:rgba(255, 102, 0, 0.76);" class="social-item">
          <input type="radio" name="social-network" value="hn" checked>
          <i style="font-size:40px;color:rgba(255, 102, 0, 0.76);" class="fa fa-hacker-news"></i> <span style="display:block;">Hacker News</span>
        </label>
        <label style="color: rgba(95, 153, 207, 0.68);" class="social-item">
          <input type="radio" name="social-network" value="reddit">
          <i style="font-size:40px;color: rgba(95, 153, 207, 0.68);font-weight:600;" class="fa fa-reddit"></i> <span style="display:block;margin-left:-5px;">Reddit</span>
        </label>
        <!-- <label style="color: #55acee;" class="social-item">
          <input type="radio" name="social-network" value="twitter">
          <i style="font-size:40px;color: #55acee;font-weight:600;" class="fa fa-twitter"></i> <span style="display:block;margin-left:-5px;">Twitter</span>
        </label> -->
      </div>
      <h3 style="color: rgba(0, 0, 0, 0.67);">A <span id="usrnm">Hacker News</span> Username Please:</h3>
      <div>
      <div class="log"></div>
        <input id="searchbox" style="height:40px;width:350px;text-align:center;font-size:20px;border-bottom: 2px solid grey;" type='text' name='username' placeholder="ex. try 'walshemj'" autofocus autocomplete="off"><br><input id="reverse_checkbox" type="checkbox" name="reverse" value=True>
        <label for="reverse_checkbox" style="color:rgba(255, 102, 0, 0.63);">Back In The Day</label><br><br>
        <input style="border:none;font-size:12px;font-weight:bold;" class="pageload-link" type='submit' value='Show Me The Hate'>
      </div>
    </form>

{% endblock %}
