<!-- {% extends "layout.html" %}
{% block body %} -->
<h3><a href="https://news.ycombinator.com/user?id={{ d.username }}" target="_blank">{{ d.username }}'s</a> Hater Score:<h3>
<h1 style="color:rgb(73, 73, 73);">{{ d.score | round(2, 'floor')}}%</h1>


<meter value="{{ d.score }}" min="0" max="100" title="Hater Score">
  <div class="meter-gauge">
    <span style="width: 46.42%;">Disk Usage - 55.93GB out of 120GB</span>
  </div>
</meter>

<h3>comments</h3>
<ul class="grid">
{% for c in d.comments %}
  <a href="https://news.ycombinator.com/item?id={{c[1]}}" target="_blank"><li class="grid-item">{{c[0]}}</li></a>
  <!-- <hr> -->
{% endfor %}
</ul>


<!-- {% endblock %} -->
