<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hater News. | Haterz gon' hate, but now you know who the haterz are.</title>
    <meta name="author" content="Kevin McAlear" />
    <link rel="shortcut icon" href="">
    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='classie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='snap.svg-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='svgLoader.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="pagewrap" class="pagewrap">
      <div class="container show">
        <header class="codrops-header">
          <h1>Hater News <span>Haterz gon' hate. But now you know who the haterz are.</span></h1>
        </header>
        <section class="columns clearfix">
          <div class='page'>
              {% for message in get_flashed_messages() %}
              <div class='flash'>{{ message }}</div>
              {% endfor %}
              {% block body %}{% endblock %}
          </div>
        </section>
      </div>
    <div class="container" id="page-2">
    </div><!-- /container -->

    <div id="loader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
    <div style="z-index:999;color:#BABABA;;position:relative;text-align:center;margin:30%;">
      <h1 id="load-message">Trolling For Your Troll Level...</h1>
      </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
      <path d="M30,30 50,30 50,30 30,30 Z"/>
    </svg>
    <script>
      (function() {
        var pageWrap = document.getElementById( 'pagewrap' ),
          pages = [].slice.call( pageWrap.querySelectorAll( 'div.container' ) ),
          currentPage = 0,
          triggerLoading = [].slice.call( pageWrap.querySelectorAll( 'input.pageload-link' ) ),
          loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 300 } );
          snarkyComments = [
            "Hopefully you're an internet saint.",
            "Man, you have a lot of comments...",
            "Ok, hopefully we are wrapping up.",
            "Still crunching numbers... I know this takes a while."
          ];

        function init() {
          triggerLoading.forEach( function( trigger ) {
            trigger.addEventListener( 'click', function( ev ) {
              ev.preventDefault();
              loader.show();
              page = $('div.page');
              setTimeout( function() { page.empty() }, 1000 );
              // after some time hide loader
              setTimeout( function() {
                message = document.getElementById( 'load-message' );
                message.textContent = "Hopefully you're an internet saint."
              }, 6000 );

              setTimeout( function() {
                message = document.getElementById( 'load-message' );
                message.textContent = "Man, you have a lot of comments..."
              }, 12000 );

              setTimeout( function() {
                message = document.getElementById( 'load-message' );
                message.textContent = "Still crunching numbers... I know this takes a while."
              }, 18000 );

              username = $( ":text" ).val()
              $.post( "/hater-score", { username: username }, function( data ) {
                console.log( "Data Loaded: " + data );

                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "Ok, hopefully we are wrapping up."
                  // $(document).empty();
                  page.append(data);
                  // message.empty();
                  loader.hide();

                  classie.removeClass( pages[ currentPage ], 'show' );
                  // update..
                  // currentPage = currentPage ? 0 : 1;
                  classie.addClass( pages[ currentPage ], 'show' );
                  // history.pushState(null, null, username+"-hater-score");
                }, 1000 );
              });
            } );
          } );
        }

        init();
      })();
    </script>
  </body>
</html>
