<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hater News. | Haterz gon' hate, but now you know who the haterz are.</title>
    <meta name="author" content="Kevin McAlear" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='classie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='snap.svg-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='svgLoader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sweet-alert.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  <a href="https://github.com/kevinmcalear/hater_news" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
    <div id="pagewrap" class="pagewrap">
      <div class="container show">
        <header class="header">
          <a href="/"><h1 class="logo">Hater News<p style="padding-top:20px;text-shadow:none;font-size:13px;color:rgb(155, 155, 155);font-weight:100;">Haterz gon' hate. But now you know who the haterz are.</p></h1></a>

        </header><!-- /header -->
        <section class="columns clearfix">
          <div class='page'>
              {% for message in get_flashed_messages() %}
              <div class='flash'>{{ message }}</div>
              {% endfor %}
              {% block body %}{% endblock %}
              <div class="columns" style="margin: 50px;">
                <div class="column" style="background:white;">
                  <h3>Why</h3>
                  <p style="color:grey;font-size: 15px;">The internet is covered in trolls who are filled with hate. It's time we started to expose them and put them in their place. Look for Twitter, Facebook, Instagram, and Reddit versions and a Chrome Extention as well. Want to help out? Feel free to fork the project or contribute to the codebase. <a href="mailto:kevin.mcalear@gmail.com">Reach Out</a><br><br>Hater News is a project made by <a href="http://twitter.com/kevinmcalear" target="_blank">Kevin McAlear</a>.</p>
                </div>
                <div class="column" style="background:white;">
                  <h3>How</h3>
                  <p style="color:grey;font-size: 15px;">You give the program a username from <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a>. It finds the 50 <span id="time-frame">most recent</span> comments that the user has made and runs the probability of each comment being insulting using <a href="http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html" target="_blank">SciKit Learn's Count Vecteriztor</a>, some additional <a href="https://github.com/kevinmcalear/hater_news/blob/master/its_pkl_time.py" target="_blank">hand-rolled features</a>, and <a href="http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html" target="_blank">Logisitc Regression</a>. If you want to learn more, feel free to check out the <a href="https://github.com/kevinmcalear/hater_news/blob/master/haterz_classification.ipynb" target="_blank">iPython Notbook</a> for a detailed explination.</p>
                </div>
              </div>
          </div>
        </section>
      </div>
    <div class="container" id="page-2">
    </div><!-- /container -->

    <div id="loader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
    <div style="z-index:999;color:#BABABA;;position:relative;text-align:center;margin:30%;">
       <h1 id="load-message" class="hide">Trolling For Your Troll Level...</h1>
      </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
      <path d="M30,30 50,30 50,30 30,30 Z"/>
    </svg>
    <script>
      (function() {

        var pageWrap = document.getElementById( 'pagewrap' ),
          pages = [].slice.call( pageWrap.querySelectorAll( 'div.container' ) ),
          currentPage = 0,
          triggerLoading = [].slice.call( pageWrap.querySelectorAll( 'input.pageload-link' ) ),
          loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 100 } );
          snarkyComments = [
            "Hopefully you're an internet saint.",
            "Man, you have a lot of comments...",
            "Ok, hopefully we are wrapping up.",
            "Still crunching numbers... I know this takes a while.",
            "Haterz gon' hate. But now you know who the haterz are.",
          ];
          reverse = false;

          setTimeout( function() {
            $("input[name='reverse']").on('change', function(){
              reverse = $("input[name='reverse']:checked").length == 1;

              if ( reverse == true ){
                $('#time-frame').text("oldest");
              } else {
                $('#time-frame').text("most recent");
              };
            });
           }, 200 );

        function init() {
          triggerLoading.forEach( function( trigger ) {
            trigger.addEventListener( 'click', function( ev ) {
              ev.preventDefault();



              if ( $('input:text').val().trim() != "" ) {


                loader.show();


                 setTimeout( function() {
                   $( '#load-message' ).removeClass('hide');
                 }, 500 );
                page = $('div.page');
                setTimeout( function() { page.empty() }, 500 );
                // after some time hide loader
                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "Hopefully you're an internet saint."
                }, 6000 );

                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "Maybe you should stop hatin'."
                  if(!sent) {
                    $('#load-message').append('<br><iframe width="300" height="200" src="//www.youtube.com/embed/8dxvoPhErPo?autoplay=1&controls=0&fs=0&disablekb=1&modestbranding=1&rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>');
                  }
                }, 12000 );

                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "I bet your the digital Jersy Shore."
                }, 18200 );

                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "Or are you more of a Mr. Rogers type?"
                }, 24000 );

                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "Man, you have a lot of comments..."
                }, 30000 );

                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "Still crunching numbers... I know this takes a while."
                  if(!sent) {
                    $('#load-message').append('<br><iframe width="300" height="200" src="//www.youtube.com/embed/BfpV2e9PAE4?t=0m40s&autoplay=1&controls=0&fs=0&disablekb=1&modestbranding=1&rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>');
                  }
                }, 36000 );

                setTimeout( function() {
                  message = document.getElementById( 'load-message' );
                  message.textContent = "Something broke... Try Again. Sorry! :("
                }, 120000 );

                setTimeout( function() {
                  loader.hide();
                  message.textContent = "Trolling For Your Troll Level..."
                  if(!sent) {
                    setTimeout( function() {
                      location.reload();
                    }, 600 );
                  }
                }, 123000 );

                sent = false;
                username = $( ":text" ).val()

                $.post( "/hater-score", { username: username, reverse: reverse }, function( data ) {
                    sent = true;
                    message = document.getElementById( 'load-message' );
                    message.textContent = "Ok, hopefully we are wrapping up."

                  setTimeout( function() {

                    page.append(data);
                    loader.hide();
                    $( '#load-message' ).addClass('hide');
                    classie.removeClass( pages[ currentPage ], 'show' );
                    // update..
                    // currentPage = currentPage ? 0 : 1;
                    classie.addClass( pages[ currentPage ], 'show' );
                    // history.pushState(null, null, username+"-hater-score");
                  }, 1000 );
                });
              } else {
                sweetAlert("Sorry.", "You have to put in a username from Hacker News.", "error")
              }
            } );
          } );
        }

        init();
      })();
    </script>
  </body>
</html>
